<!DOCTYPE html>
<html>
    <head>
        <title>Leetspeak Generator</title>
    </head>
    <body>
        <h3>Leetspeak Generator</h3>
        <form class="" action="/result" method="post">
            <label for="string-input">Please enter a string</label>
            <input type="text" name="string-input" value="">
            <button type="submit" name="button">Submit</button>
        </form>
    </body>
</html>
