<!DOCTYPE html>
<html>
    <head>
        <title>Leetspeak Generator</title>
    </head>
    <body>
        <h3>Leetspeak Generator</h3>
        <label for="">Translated String:</label>
        <p>
            {{newArray}}
        </p>
    </body>
</html>
